@model List<MenuModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Menu";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
}


<h1>Menu</h1>

<div class="menu-container">
    <table class="menu-table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr class="category">
            <td colspan="2">Specialty Cakes</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="item">
                <td>@item.Title</td>
                <td>@(item.Price.Value.ToString("C") ?? "$0.00")</td>
            </tr>
        }
        @*<tr class="item">
            <td>Matcha White Chocolate Cake</td>
            <td>$9.99</td>
        </tr>
        <tr class="item"></tr>
        </tbody>
        <tr>
            <td>Salted Caramel Espresso Cake</td>
            <td>$20.99</td>
        </tr>
        <tr class="item">
            <td>Chili Chocolate Cake</td>
            <td>$29.99</td>
        </tr>
        <tr class="category">
            <td colspan="2">Seasonal Treats</td>
        </tr>
        <tr class="item">
            <td>Pumpkin Spice Cake (Fall)</td>
            <td>$29.99</td>
        </tr>
        <tr class="item">
            <td>Peppermint Mocha Cake (Winter)</td>
            <td>$29.99</td>
        </tr>
        <tr class="category">
            <td colspan="2">Custom Creations</td>
        </tr>
        <tr class="item">
            <td>Carrot Cake</td>
            <td>$29.99</td>
        </tr>
        <tr class="item">
            <td>German Chocolate Cake</td>
            <td>$29.99</td>
        </tr>*@
    </table>
</div>