@media screen and (max-width: 119em) {
    .maps-widget {
        left: 5vw;
    }
    
    .form--contact-form {
        width: 25rem;
        
        & .form__textarea {
            width: 100%;
        }
    }
}

@media screen and (max-width: 75em) {
    .maps-widget {
         position: static;
         margin-bottom: 2rem;
    }
    
    .contact-info {
        flex-direction: column;
    }
    
        .form.form--contact-form {
        width: 70vw;
        
        .form__input, textarea {
            font-size: 1.6rem;
        }
        .form__textarea {
            min-height: 12rem;
        }
        .form__label {
            font-size: 1.3rem;
        }
        
        .form__input:not(.btn--submit) {
            height: 2rem;
        }
    }
}

/* use BEM instead */
@media screen and (max-width: 58.188em) {
    .info-list {
        .info-list__item > p > a,
        .info-list__item > address > a {
            display: block;
            margin-left: 1.5em;
        }
    }
    
    /* Win via specificity */
    .info-list li a.link.link--tel {
        display: block;
    }
    
}

@media screen and (max-width: 44.75em) {
    .main-content-wrapper {
        width: 90vw; /* adjust width to non-percent unit so we can take up main's padding given border-box's behavior. */
    }
        
    .contact-h1 {
        text-align: center;
        font-size: 2.4rem;
    }
    
    .icon-section {
        justify-content: center;
    }
    
    .info-list {
        align-self: flex-start;
        font-size: 1.4em;
        list-style-type: none;
        
        .info-list__item svg {
            font-size: 1.3rem;
        }
    }
    
    .maps-widget {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 23em) {
    .contact-h1 {
        text-align: center;
        font-size: 2.6rem;
        margin-bottom: .6rem;
    }
    
    h2 {
        text-align: center;
    }
    
    .address {
        margin-bottom: 15rem;
    }
    
    .info-list {
        .info-list__item {
            text-align: center;
            p {
                font-size: 1.2em;
            }
        }
        .info-list__item > p > a,
        .info-list__item > address > a {
            margin-left: 0;
            font-size: .9em;
            margin-bottom: .5em;
            position: relative;
            
            /*&.link--tel::before {*/
            /*    position: absolute;*/
            /*    left: -16px;*/
            /*}*/
        }
        
        svg.iconify {
            display: block;
            position: relative;
            
            
            left: 46%; /* not sure why this results in a correct 50% left position rather than 50% */
            
        }
        
        .icon-section-wrapper {
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-top: .5rem;
            
            .icon-section {
                font-size: 2rem;
                .icon-section__icon {
                    width: 3rem;
                }
            }
        }
    }
}