/* Index page media queries, descending in screen width */

@media screen and (max-width: 75.25em) {
    .photo-wrapper {
        position: static;
    }
}

@media screen and (max-width: 40.625em) {
    .hero {
        height: 25rem;
    }
}

@media screen and (max-width: 30em) {
    .hero .btn.svg-right-arrow::before {
        content: none; /* hide right-pointing arrow */
    }
}