body{
    font-family: 'Georgia', serif;
    background-color: #f8f1e4;
    color: #5a3e36;
    text-align: center;
    
}
.container{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    width: 100%;
    padding: 20px;
}

.item{
    font-size: 18px;
    padding: 5px 0
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Brush Script MT', cursive;
}
h2 {
    font-size: 24px;
    margin-top: 20px;
}
.menu-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.menu-table {
    width: 80%; /* Adjust width as needed */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-table th, .menu-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.menu-table th {
    font-size: 1.2em;
    background-color: #f4f1ea;
}

.menu-table .category {
    font-weight: bold;
    font-size: 1.3em;
    background-color: #fdf6ec;
    text-align: left;
}

.menu-table .category td {
    padding-top: 15px;
    padding-bottom: 10px;
}

