@model ContactUsModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/contactus-components.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/media-queries/contact-responsiveness.css" asp-append-version="true"/>
}

@* Page code: *@

@if (ViewData["EmailSent"] as bool? == true)
{
    @await Component.InvokeAsync("EmailSent")
}

@* Body: *@

<!-- Important:
* We should change this to CSS Grid in the future for maintainability.
* The CSS codebase will also need a rewrite via Sass Mixins & Modules for maintainability.
 -->
 
 @* refactor wrapper to be in _Layout. allow child pages to override *@
 
 <div class="main-content-wrapper">
    <!-- Contact us info & the Google Map are children of this wrapper: -->
    <article class="contact-info">
        <div class="flex direction-column">
            <h1 class="contact-h1">Contact Us</h1>
            <ul class="contact-info__list">
                <li>
                    <p>
                        Call us:
                        <a href="tel:+12486866636" class="link link--tel link--dotted">
                            (248) 686-6636
                        </a>
                    </p>
                </li>
                
                <li>
                    <p>
                        Email:
                        <a href="mailto:stroster.jesse@gmail.com" class="link link--dotted">
                            <span aria-hidden="true" data-icon="famicons:mail" class="iconify"></span>
                            stroster.jesse<wbr>@@gmail.com
                        </a>
                    </p>
                </li>
                
                <li>
                    <p class="d-inline">
                        Pick-up orders:
                    </p>
                    
                    <address class="d-inline address">
                        <a href="https://www.google.com.mx/maps/place/2535+Kate+St,+Holt,+MI+48842/@@42.6557629,-84.5243472,17z/"
                           target="_blank"
                           class="link link--dotted">
                            <span aria-hidden="true" data-icon="famicons:home" class="iconify"></span>
                            2523 Kate St Holt, MI 48842 USA
                        </a>
                    </address>
                </li>
                <li>
                    <p>
                        Share with us:
                        <div class="icon-section-wrapper">
                            @await Html.PartialAsync("Components/_SocialButtonsPartial")
                        </div>
                    </p>
                </li>
            </ul>
        </div>
        
         <!-- Maps Widget Wrapper -->
        <div class="pos-relative">
            <figure class="maps-widget">
                <!-- Future: replace with Google Maps iframe widget -->
                <img
                    class="maps-widget__photo"
                    src="~/assets/images/google-maps.png"
                    alt="A static image of a Google Maps illustrated 2D top-down street view."/>
                
                <!-- If the screen-reader software implements this role value, read as a contiguous string of words.
                     Otherwise, ignore, and there will be a slight pause between the two groups of words. -->
                <figcaption role="text" class="maps-widget__caption">
                    <span class="maps-widget__text maps-widget__text--small">
                        view on
                    </span>
                    <span class="maps-widget__text maps-widget__text--med">
                        Google Maps
                    </span>
                </figcaption>
            </figure>
        </div>
    </article>
    
    <!-- Contact Form underneath Contact Us info list & the Google Map -->
    <article>
        <h2>
            Talk to us:
        </h2>
        <form method="POST" accept-charset="UTF-8" class="form form--contact-form">
            <label asp-for="Name" class="form__label">
                Name
            </label>
            <input asp-for="Name" required type="text" class="form__input"/>
            <p asp-validation-for="Name" class="color-danger"></p>
            
            
            <label asp-for="Email" class="form__label">
                Email
            </label>
            <input asp-for="Email" required type="email" class="form__input"/>
            <p asp-validation-for="Email" class="color-danger"></p>
            
            
            <label asp-for="Phone" class="form__label">
                Phone
            </label>
            <input asp-for="Phone" required type="tel" class="form__input"/>
            <p asp-validation-for="Phone" class="color-danger"></p>
            
            <label asp-for="Comment" class="form__label">
                Comments/Questions
            </label>
            <textarea asp-for="Comment" required class="form__textarea"></textarea>
            <p asp-validation-for="Comment" class="color-danger"></p>
            
            <input asp-action="OnSubmit"
                   type="submit"
                   value="Submit"
                   class="btn btn--submit"/>
        </form>
    </article>

</div>


@section Scripts {
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
}

