@model ContactUsModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/contactus-components.css" asp-append-version="true"/>
}

@* Page code: *@

@if (ViewData["EmailSent"] as bool? == true)
{
    @await Component.InvokeAsync("EmailSent")
}

@* Body: *@

<!-- We should change this to CSS Grid in the future for maintainability -->
<div class="flex direction-column align-center w-100">
    <!-- Contact us info & the Google Map are children of this wrapper: -->
    <div class="flex w-85">
        <div class="flex direction-column">
            <h1 class="contact-h1">Contact Us</h1>
            <ul class="contact-info-list">
                <li>
                    <p>
                        Call us:
                        <a class="link link--tel link--dotted" href="tel:+12486866636">
                            (248) 686-6636
                        </a>
                    </p>
                </li>
                
                <li>
                    <p>
                        Email:
                        <a class="link link--dotted" href="mailto:stroster.jesse@gmail.com">
                            <span class="iconify" data-icon="mdi:envelope" aria-hidden="true"></span>
                            stroster.jesse@gmail.com
                        </a>
                    </p>
                </li>
                
                <li>
                    <p class="d-inline">
                        Pick-up orders:
                    </p>
                    
                    <address class="d-inline address">
                        <a class="link link--dotted"
                           target="_blank"
                           href="https://www.google.com.mx/maps/place/2535+Kate+St,+Holt,+MI+48842/@@42.6557629,-84.5243472,17z/">
                            <span class="iconify" data-icon="mdi:home" aria-hidden="true"></span>
                            2523 Kate St Holt, MI 48842 USA
                        </a>
                    </address>
                </li>
                <li>
                    <p>
                        Share with us:
                        <div class="ml-1">
                            @await Html.PartialAsync("Components/_SocialButtonsPartial")
                        </div>
                    </p>
                </li>
            </ul>
        </div>
        
         <!-- Maps Widget Wrapper -->
        <div class="pos-relative">
            <figure class="maps-widget">
                <!-- Future: replace with Google Maps iframe widget -->
                <img
                    class="maps-widget__photo"
                    src="~/assets/images/google-maps.png"
                    alt="A static image of a Google Maps illustrated 2D top-down street view."/>
                
                <!-- If the screen-reader software implements this role value, read as a contiguous string of words.
                     Otherwise, ignore, and there will be a slight pause between the two groups of words. -->
                <figcaption role="text" class="maps-widget__caption">
                    <span class="maps-widget__text maps-widget__text--small">
                        view on
                    </span>
                    <span class="maps-widget__text maps-widget__text--med">
                        Google Maps
                    </span>
                </figcaption>
            </figure>
        </div>
    </div>
    
    <!-- Contact Form underneath Contact us info & the Google Map -->
    <div>
        <form class="form form--contact-form" method="post" accept-charset="UTF-8">
            <label asp-for="Name">
                Name
                <input type="text" asp-for="Name"></input>
                <p class="color-danger" asp-validation-for="Name"></p>
            </label>
            
            <label asp-for="Email">
                Email
                <input type="text" asp-for="Email"></input>
                <p class="color-danger" asp-validation-for="Email"></p>
            </label>
            
            <label asp-for="Phone">
                Phone
                <input type="text" asp-for="Phone"></input>
                <p class="color-danger" asp-validation-for="Phone"></p>
            </label>
            
            <label asp-for="Comment" class="comment-field">
                Comments/Questions
                <textarea class="form-control" asp-for="Comment"></textarea>
                <p class="color-danger" asp-validation-for="Comment"></p>
            </label>
            
            <input class="btn btn-primary" type="submit" value="Submit" asp-action="OnSubmit"></input>
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
}

