@model ContactUsModel

@{
    Layout = "_Layout";
<<<<<<< HEAD
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Menu</title>
    <link rel="stylesheet" href="~/css/ContactUs.css" asp-append-version="true"/>
</head>
<body>
    @if (ViewData["EmailSent"] as bool? == true)
    {
        @await Component.InvokeAsync("EmailSent")
    }
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact Us</h1>
            <p>Thanks for stopping by! Drop us a message or give us a call, and we'll get back to you as soon as we can.</p>
            <address>
                <div class="mb-3">
                    <span class="iconify" data-icon="mdi:home"></span>
                    <label>2535 Kate St Holt, MI 48842</label>
                </div>
                <div class="mb-3">
                    <span class="iconify" data-icon="mdi:phone"></span>
                    <label>Phone: <a href="tel:+12486866636">(248) 686-6636</a></label>
                </div>
                <div class="mb-3">
                    <span class="iconify" data-icon="mdi:envelope"></span>
                    <label>Email: <a href="mailto:stroster.jesse@gmail.com">stroster.jesse@gmail.com</a></label>
                </div>
            </address>
        </div>
        <div class="col-md-4 mx-auto">
            <form method="post" accept-charset="UTF-8">
                <div class="row mb-3">                 
                    <label class="form-label" asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" >
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="row mb-3">                  
                    <label class="form-label" asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="row mb-3">
                    <label class="form-label" asp-for="Phone">Phone</label>
                    <input class="form-control" asp-for="Phone">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
                <div class="row mb-3">
                    <label class="form-label" asp-for="Comment">Comments/Questions</label>
                    <textarea class="form-control" asp-for="Comment" style="height:200px"></textarea>
                    <span class="text-danger" asp-validation-for="Comment"></span>
                </div>
                <div class="row mb-3">
                    <button class="btn btn-primary" type="submit" value="Submit" asp-action="OnSubmit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
=======
    ViewData["Title"] = "Contact Us";
}

<h1>Nothing here yet...</h1>
>>>>>>> cb7f9a2 (Convert pages to Razor files)
