@model AboutUsModel

@{
    Layout = "_Layout";
}

@section TitleData {
    @{
        ViewData["Title"] = "About Us";
    }
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/bootstrapped/aboutUs.css" asp-append-version="true">
}

@* Body: *@

<div class="container">
    <h1>Jesse's Homemade Cakes</h1>
    <p>At Jesse's Homemade Cakes, we are passionate about crafting exceptional cakes that bring joy to every occasion.
        Our commitment to quality starts with the finest ingredients—real butter, premium chocolate, and fresh dairy—ensuring every bite is
        rich, flavorful, and unforgettable.
        Baking is more than a process for us; it’s an art. Every cake we create is made from scratch with precision and care, blending classic
        techniques with innovative flavors. Whether you’re celebrating a milestone, a special event, or simply indulging in a well-deserved
        treat, we believe that a beautifully made cake makes every moment sweeter.
        We take pride in offering a curated selection of cakes, from timeless classics to custom creations tailored to your vision.
        No shortcuts, no compromises—just pure passion and craftsmanship in every slice.
        Come taste the difference and experience the perfect cake, made with love.</p>
    <img src="~/assets/images/cake-stock-photo.jpg" alt="Cake" width="50%" height="50%" asp-append-version="true"/>
</div>