@model AboutUsModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/about-components.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/media-queries/about-responsiveness.css" asp-append-version="true">
}

<article class="about">
    <div class="about__section">
        <div class="flex direction-column">
            <h1 class="about__heading1">@ViewData["Title"]</h1>

            <p class="about__text">
                At Jesse’s Homemade Cakes, we make everything from scratch.
                Our dedication to crafting high-quality treats made from the heart is what makes us unique.
            </p>
        </div>

        <img src="~/assets/images/about-image.jpg"
             alt="A selfie of Jesse Stroster"
             asp-append-version="true"
             class="about__img rounded-med"/>
    </div>

    <div class="about__credits">
        <p class="credits__text">
            Website designed by
            
            <a target="_blank"
               href="https://github.com/1zzowiebeha"
               class="about__link">
                Zowie
            </a>
        </p>
        
        <p class="credits__text">
            Server-side programmed by
            
            <a target="_blank"
               href="https://github.com/applesea2"
               class="about__link">
                Jesse
            </a>
        </p>

        <div class="mt-1rem">
            @await Html.PartialAsync("Components/_SocialButtonsPartial")
        </div>
    </div>
</article>
