.btn {
    border: none;
    background: none;
    /* inherit from body (or from parent if it overrides its inherited font-family) */
    font-family: inherit;
    cursor: pointer;
}

/*========
Icon-section Component
==========*/

.icon-section {
    display: flex;
    flex-direction: center;
    gap: 0.75rem;
    
    margin-top: 6.438rem;
    
    .icon-section__icon {
        width: 2rem;
        aspect-ratio: 1/1;
    }
    
    .icon-section__icon--instagram {
        /* This will allow clicks to be ignored by the <embed> so that the anchor link works correctly. */
        /* learning todo: understand why clicks are captured by <embed>, but ignored by parent <a> */
        pointer-events: none;
    }
}