.btn {
    border: none;
    background: none;
    /* inherit from body */
    font-family: inherit;
    cursor: pointer;
}

.btn--order-btn {
    text-decoration: none;    
    color: #FF7C8F;
    font-weight: 700;
    font-size: 1.2rem;
    border: 3px solid #FD8899;
    padding: .45rem 4rem;
    position: relative;
    
    /* &::after {
        content: "";
        
        /* why do EM units mess up the vertical alignment?
        also small dimensions mess up the svg.. 
        width: 1.8rem;
        aspect-ratio: 1/1;

        background-color: #97345c;
        mask: url("../svg/launch-link-open.svg") no-repeat center;
        mask-size: 1.4rem;
        
        display: inline-block;
        /* position absolute relative to --order-btn 
        position: absolute;
        
        transition: .2s ease-out transform;
    }
    &:hover::after {
        transform: translate3d(3px, -2px, 0);
    } */
    
    transition: .5s box-shadow, .3s scale, .3s border-radius;
    &:hover {
        box-shadow: 0 2px 3px rgba(205, 28, 28, 0.279);
        scale: 1.03;
    }
    &:active {
        scale: 1;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(146, 205, 28, 0.11);
    }
}

.svg-right-arrow {
    position: relative;
}

.svg-right-arrow::before {
    content: "";
    display: block;
    
    width: 6.2rem;
    height: 4rem;
    background: url("../svg/arrow.svg");
    
    /* position absolute (out of doc flow) relative to element with class svg-right-arrow  */
    position: absolute;
    left: -7rem;
    top: -1.5rem;
    
    /* it inherits the scale of the element it's applied on.
    to prevent this, we could instead use an image element.
    but it looks cool so i'll keep it this way */
}

.icon {
    
}

.icon--facebook-fill {
    
}

.icon--instagram-fill path {

    outline: 5px solid green;
    background: radial-gradient(203.57% 116.33% at 75% 15.63%, #FF00B3 0%, #833AB4 26.1%, #FD1D1D 67%, #FD7227 75.1%, #FCB045 100%);
}

.photo {
    --photo-width: 314px;
    --ribbon-sides-width: .4rem;
    --img-border-size: .2rem;
    --caption-font-size: 24px;
    --caption-lr-padding: 1.1rem;
    
    .photo__img {
        width: var(--photo-width);
        height: 422px;
        object-fit: cover;
        
        /* Achieve a linear gradient border via a background & padding space */
        background-image: linear-gradient(to bottom, rgb(233, 63, 88, .38) 0%, rgb(185, 74, 90, .38) 50%, rgb(236, 116, 188, 0.38) 100%);
        padding: var(--img-border-size);
        
        /* https://stackoverflow.com/a/40030380 */
        vertical-align: top;
    }
    
    .photo__caption {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5rem;
    }
    
    .photo__caption--ribboned {
        color: #FFF0F0;
        background-color: #FD6565;
        
        width: var(--photo-width);
        font-size: 24px;
        padding: var(--caption-lr-padding) 0;
        
        font-weight: bold;
        text-align: center;
        
        position: relative;
        
        /* Cover the bottom image border */
        top: calc(var(--img-border-size) * -1);
        
        /* Ribbons */
        &::before {
            content: "";
            background-color: #E85C5C;
            width: var(--ribbon-sides-width);
            height: calc(var(--caption-font-size) + (var(--caption-lr-padding) * 2) - var(--caption-font-size)/3);
            
            display: block;
            position: absolute;
            left: calc(var(--ribbon-sides-width) * -1);
            bottom: 0;
        }
        
        &::after {
            content: "";
            background-color: #E85C5C;
            width: var(--ribbon-sides-width);
            height: calc(var(--caption-font-size) + (var(--caption-lr-padding) * 2) - var(--caption-font-size)/3);
            
            display: block;
            position: absolute;
            
            left: calc(var(--photo-width));
            bottom: 0;
        }
    }
}