/*
Warning: this code is representative of some technical debt.
Hide your children...
*/
@media screen and (max-width: 75.25em) {
    main {
        flex-direction: column;
    }
    
    .test {
        position:static;
    }
    
    body {
        /* padding to pretend we have content-box: border-box content box shrinkage
           with the border-image */
        /* add some to the bottom for some gap between the content and border-image */
        padding: .52rem .52rem calc(.52rem + 2rem) .52rem;
    }
    /* todo: put the icons outside of the hero and at the bottom */
    /* would be much much easier via CSS Grid!! :D */
}

@media screen and (max-width: 70em) {
    .navbar {
        justify-content: center;
    }
}


@media screen and (max-width: 40.625em) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
    
    h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 36.375em) {
    main {
        padding: 0 3rem;
    }
    h1 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 30em) {
    main {
        padding: 0 3rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    
    .svg-right-arrow::before {
        content: none; /* hide arrow */
    }
}