.hidden {
    display: none;
}

/* Typography utilities */

.text-center {
    text-align: center;
}

.lh-small {
    line-height: 1.035;
}

.fs-medium {
    font-size: 24px;
}

.dotted-anchor {
    text-decoration: none;
    border-bottom: 3px dotted;
    
}

/* Sizing utilities */

.w-40rem {
    width: 40rem;
}

.h-30rem {
    height: 30rem;
}

/* Spacing utilities */

.mt-1rem {
    margin-top: 1rem;
}

.mt-1em {
    margin-top: 1em;
}

.mt-4rem {
    margin-top: 4rem;
}

/* Flex utilities */

.flex {
    display: flex;
}

.grow-1 {
    flex-grow: 1;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.g-075 {
    gap: 0.75rem;
}

/* Positional Utilities */

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.m-top-m5 {
    top: -5rem;
}

.right-6rem {
    right: 6rem;
}

.top-8rem {
    top: 8rem;
}

/* Animation effect */

.animate {
    transition: .3s scale ease;
    &:hover {
        scale: 1.05;
    }
    &:active {
        scale: .85;
    }
}

