.hidden {
    display: none;
}

/* Debug utilities */
.ol-on {
    outline: 1px solid red;
}

/* Typography utilities */
.text-center {
    text-align: center;
}

.lh-small {
    line-height: 1.035;
}

/* Sizing utilities */
.w-40rem {
    width: 40rem;
}


/* Spacing utilities */

.mt-4rem {
    margin-top: 4rem;
}

/* Flex utilities */

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}