<div class="icon-section">
    <a class="interact-animation" target="_blank" href="https://www.facebook.com/">
        <img class="icon-section__icon" src="/assets/svg/facebook-icon.svg" alt="Instagram Logo">
    </a>
    <a class="interact-animation" target="_blank" href="https://www.instagram.com/">
        <!-- we use an embed here, as an svg linked to an <img>
             cannot reference 3rd party resources https://stackoverflow.com/a/41195767 -->
        <embed class="icon-section__icon icon-section__icon--instagram" type="image/svg+xml" src="/assets/svg/instagram-icon.svg" aria-description="Instagram Logo">
    </a>
</div>