@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/index-components.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/media-queries/index-responsiveness.css" asp-append-version="true">
}

@* Body: *@

<div class="hero grow-1">
    <h1 class="hero__heading1">Cute Cakes Only For You</h1>
    
    <a class="btn btn--order-btn svg-right-arrow" asp-controller="Menu" asp-action="Menu">
        order now
    </a>
    
    <div class="icon-section top-6rem">
        <a class="animate" target="_blank" href="https://www.facebook.com/">
            <img class="icon-section__icon" src="~/assets/svg/facebook-icon.svg" alt="Instagram Logo">
        </a>
        <a class="animate" target="_blank" href="https://www.instagram.com/">
            <!-- we use an embed here, as an svg linked to an <img>
             cannot reference 3rd party resources https://stackoverflow.com/a/41195767 -->
            <embed class="icon-section__icon icon-section__icon--instagram" type="image/svg+xml" src="~/assets/svg/instagram-icon.svg" aria-description="Instagram Logo">
        </a>
    </div>
</div>

<div class="grow-1">
    <div class="photo-wrapper">
        <figure class="photo">
            <!-- need: bandwidth responsive dpi images -->
            <img class="photo__img"
                 src="~/assets/images/cupcakes-stock-photo.jpg"
                 asp-append-version="true"
                 alt="Light blue frosted vanilla cupakes each with a ring of tiny rainbow springles on a pink background.">
            <figcaption class="photo__caption photo__caption--ribboned">
                Delightful Handheld Joy
            </figcaption>
        </figure>
        
        <div class="flex direction-column align-center">
            <p class="fs-medium">
                <a class="dotted-anchor" href="tel:1-555-4722">
                    +1 (555) 555-4722
                </a>
            </p>
            <p class="mt-1rem">
                Call us 9am-5pm
            </p>
            <p>
                Cakes available for pick-up & delivery
            </p>
        </div>
    </div>
</div>