@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex align-items-end" style="height: 50vh;">
    <p class="ms-4 mb-4 fs-3 fw-bold">Your text here</p>
</div>

@*<div class="text-lg-start">
    <p class="text-left fs-1 fw-bold fw-bold mx-auto" style="color: lightcoral">Cute cakes only for you</p>
</div>*@
<div>
    <img src="cake.jpg" class="img-fluid rounded d-block float-end" style="max-width: 35%;" alt="Delicious Cake">
</div>